#warrp{  
    width: 800px;		/*全体の幅を指定する*/  
}  
#head{  
    height: 60px;   		/*高さを指定する*/  
    background-color: #FFFFD5;  /*わかりやすいように色を指定します*/
}  
#leftcontents{  
    float: left;		/*leftcontentsを左に回り込み*/
    width: 400px;		/*幅を指定する*/
    background-color: #D5FFDF;   
}  
#rightcontents{  
    float: right;  		/*rightcontentsを右に回り込み*/
    width: 400px;		/*幅を指定する*/
    background-color: #FFEAEA;  
} 