@charset "UTF-8";
body {background-color: #005872;}
h2 {font-size: 40px;
  color: #b14c3d;}
      div {font-size: 20px;
        color : #005872;}

.inline-block_test {
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  #e6d8b2;    /* 背景色指定 */
  height:  300px;             /* 高さ指定 */
  width: 600px;                 /* 幅指定 */
}